@import './variables.scss';
@import './fonts/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'KievitPro';
}

section {
  width: $section-width;
  background: $color-white;

  @media (max-width: 1024px) {
    width: 95vw;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: $color-bg;
  padding: 10vh 0;

  @media (max-width: 1024px) {
    padding: 5vw 0;
  }
}
